<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai.css" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>

{{ $action := .Get "action" | default "thank-you" -}}
{{- if ne $action "thank-you" -}}{{- $action := ($action | absLangURL) -}}{{- end -}}
<form action="{{ $action }}">
  {{ .Inner }}
  <div class="row">
    <button type="reset" class="btn btn-primary">Reset</button>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

<div class="box notices cstyle" id="resp">
  <div class="box-label">Response Status</div>
  <div class="box-content" id="status"></div>
</div>

<div class="highlight">
  <pre class="chroma">
    <code class="json" id="response"></code>
  </pre>
</div>

<script>
  const codeMap = {2:"box notices cstyle green", 4:"box notices cstyle orange", 5:"box notices cstyle red"};
  const handleSubmit = (event) => {
    event.preventDefault();

    const myForm = event.target;
    const formData = new FormData(myForm);
  
    fetch(myForm.action, {
      method: "POST",
      headers: { "Content-Type": "application/x-www-form-urlencoded" },
      body: new URLSearchParams(formData).toString(),
    }).then((response) => {
      console.log(`HTTP ok: ${response.ok}`);
      document.querySelector('#status').textContent = response.status;
      const idx = response.status/100;
      if (idx in codeMap) {
        document.querySelector('#resp').setAttribute("class", codeMap[idx]);
      }
      return response.text();
    }).then((text) => {
      const response = document.querySelector('#response');
      response.innerHTML = JSON.stringify(JSON.parse(text),null,2);
      hljs.highlightBlock(response);
    });
  };

  document.querySelector("form").addEventListener("submit", handleSubmit);

  const loadFile = function(event, id, imgid) {
    const preview = document.querySelector(id);
    const img = document.querySelector(imgid);
    const reader = new FileReader();
    reader.onload = function() {
      const image = new Image();
      //image.height = 100;
      image.title = event.target.files[0].name;
      image.src = reader.result;
      img.value = reader.result.slice(reader.result.indexOf(',')+1);
      preview.replaceChildren(image);
    };
    reader.readAsDataURL(event.target.files[0]);
  };
</script>