<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/monokai.css" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>

{{ $action := .Get "action" | default "thank-you" -}}
{{- $type := .Get "type" | default "x-www-form-urlencoded" -}}
{{- if ne $action "thank-you" -}}{{- $action := ($action | absLangURL) -}}{{- end -}}

<form action="{{ $action }}">
  <div class="row">
    <label for="apiKey">apiKey</label>
    <input type="text" id="apiKey" value="wiIb6DAhnYC2Hx5DglRBUCd1xpgDb55o" required />
  </div>
  {{ .Inner }}
  <div class="row">
    <button type="reset" class="btn btn-primary">Reset</button>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

<div class="box notices cstyle" id="resp">
  <div class="box-label">Response Status</div>
  <div class="box-content" id="status"></div>
</div>

<div class="highlight">
  <pre class="chroma">
    <code class="json" id="response"></code>
  </pre>
</div>

<script>
  const codeMap = {2:"box notices cstyle green", 4:"box notices cstyle orange", 5:"box notices cstyle red"};
  const handleSubmit = (event) => {
    event.preventDefault();

    const apiKey = document.querySelector("#apiKey");

    const myForm = event.target;
    const formData = new FormData(myForm);
  
    fetch(myForm.action, {
      method: "POST",
      headers: { "Content-Type": "application/{{ $type }}", "X-Api-Key": apiKey.value },
      body: "{{ $type }}" == "json"? JSON.stringify(Object.fromEntries(formData)): new URLSearchParams(formData).toString(),
    })
    .then((response) => {
      console.log(`HTTP ok: ${response.ok}`);
      
      const idx = parseInt(response.status / 100);
      if (idx in codeMap) {
        document.querySelector('#resp').setAttribute("class", codeMap[idx]);
      }
      document.querySelector('#status').textContent = response.status + " - " +response.statusText;
      if (response.status >= 200 && response.status < 300) {
        return response.json();
      } else {
        throw Error(response);
      }
    })
    .then((json) => {
      const response = document.querySelector('#response');
      response.innerHTML = JSON.stringify(json, null, 2);
      hljs.highlightBlock(response);
    })
    .catch((error) => {
      document.querySelector('#status').textContent = error;
      document.querySelector('#resp').setAttribute("class", codeMap[5]);
    });
  };

  document.querySelector("form").addEventListener("submit", handleSubmit);

  const loadFile = function(event, id, imgid) {
    const preview = document.querySelector(id);
    const img = document.querySelector(imgid);
    const reader = new FileReader();
    reader.onload = function() {
      const image = new Image();
      //image.height = 100;
      image.title = event.target.files[0].name;
      image.src = reader.result;
      img.value = reader.result.slice(reader.result.indexOf(',')+1);
      preview.replaceChildren(image);
    };
    reader.readAsDataURL(event.target.files[0]);
  };
</script>