{{ $action := .Get "action" | default "thank-you" -}}
{{- if ne $action "thank-you" -}}{{- $action := ($action | absLangURL) -}}{{- end -}}
<form class="form-container" action="{{ $action }}">
  {{ .Inner }}
  <div class="row">
    <button class="row-item small-full medium-third large-quarter left button" type="reset">
      Reset
    </button>
    <button class="row-item small-full medium-third large-quarter right button" type="submit">
      Submit
    </button>
  </div>
</form>

<script>
  const handleSubmit = (event) => {
  event.preventDefault();

  const myForm = event.target;
  const formData = new FormData(myForm);
  
  fetch(myForm.action, {
    method: "POST",
    headers: { "Content-Type": "application/x-www-form-urlencoded" },
    body: new URLSearchParams(formData).toString(),
  })
    .then(() => console.log("Form successfully submitted"))
    .catch((error) => alert(error));
};

document
  .querySelector("form")
  .addEventListener("submit", handleSubmit);
</script>